@{
    ViewData["Title"] = "Image Thing";
}
<div class="container search">
    <div class="row">
        <div class="col s1 offset-s11">
            <a tooltipped class="btn-floating btn-large waves-effect waves-light red" data-position="left" data-delay="10" data-tooltip="Add an image"><i class="material-icons">add</i></a>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="input-field">
                <input type="text" placeholder="Search for images">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <pagination
            page="1"
            page-size="10"
            total="200"
            show-prev-next="true"
            use-simple-prev-next="false"
            dots="...."
            hide-if-empty="false"
            adjacent="2"
            scroll-top="false"
            pagination-action="changePage(page)" />
        </div>
    </div>        
    </div>
</div>